
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card mt-5" *ngFor="let post of allPosts">
            <div class="card-header">
                <h3>{{post.title}}</h3>
            </div>
            <div class="card-body">
                <p>{{post.content}}</p>
            </div>
            <div class="card-footer">
                <div class="text-right d-flex justify-content-around">
                    <button class="btn btn-outline-primary">Edit</button>
                    <button class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
